<div class="modal-header">
  <h4 i18n class="modal-title">Add Organization</h4>
</div>
<div class="modal-body">
<!--  <form  [formGroup] = "organizationForm" (ngSubmit)="onClickSubmit()" >-->
  <form  [formGroup]="organizationForm" (ngSubmit)="onClickSubmit(organizationForm.value)" >
    <div class="form-group">
      <small id="nameHelp" class="form-text text-muted">Organization name</small>
      <input type="text" class="form-control" id="organizationName" placeholder="Organization name" formControlName="organizationName">

      <small id="emailHelp" class="form-text text-muted">Contact email for whole organization</small>
      <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Email"  formControlName="email">

      <small id="phoneHelp" class="form-text text-muted">Contact phone number for whole organization</small>
      <input type="tel" class="form-control" id="Phone" aria-describedby="phoneHelp" placeholder="Phone number"  formControlName="phone" >

      <small id="webHelp" class="form-text text-muted">Organization website</small>
      <input type="url" class="form-control" id="Web" aria-describedby="webHelp" placeholder="Website address"  formControlName="url">

    </div>

    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-danger" (click)="activeModal.close('Close click')">Close</button>
</div>
